<h1>Listing destinations</h1>

<h5>Summary</h5>
<%= render_hash_to_overview(:destinations, @destinations) %>
<h5>Payload</h5>
<%= render_hash_to_table(@destinations) %>

<br />

<%= link_to 'New Destination', new_destination_path %>
